@using ZiziBot.Types.Types
<div style="display: @DisplayClassLoading">
    <p>@Configuration.Title</p>

    <div class="progress">
        <div class="progress-bar progress-bar-striped" role="progressbar"
             style="width: @Configuration.GetPercentage()%"
             aria-valuenow="@Configuration.CurrentStep"
             aria-valuemin="0"
             aria-valuemax="@Configuration.TotalSteps">
        </div>
    </div>

    <RadzenProgressBar ProgressBarStyle="ProgressBarStyle.Primary" Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate"/>
</div>

<div style="display: @DisplayClassChildContent">
    @if (Configuration.IsLoading == false)
    {
        <CascadingValue Value="@Configuration">
            @ChildContent
        </CascadingValue>
    }
</div>

@code{

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public LoadingConfiguration Configuration { get; set; } = new();

    private string DisplayClassLoading => Configuration.IsLoading ? "initial" : "none";
    private string DisplayClassChildContent => Configuration.IsLoading ? "none" : "initial";

    protected override void OnParametersSet()
    {
        Configuration.PropertyChanged += (_, _) => StateHasChanged();
    }

}